.ticket-form-container {
  width: 450px;
  margin: 0 auto;
  padding: 20px;
  background-color: transparent;
  color: #fff;
  border: none;
  border-radius: 5px;
}

.ticket-form-container h1 {
  font-size: 24px;
  text-align: center;
  margin-bottom: 20px;
}

.form-group-time {
  display: flex;
  justify-content: space-between;
}

.form-group {
  margin-bottom: 15px;
}

.ticket-form-container label {
  font-size: 14px;
  font-weight: bold;
}

select,
input[type="date"],
input[type="time"]:focus {
  outline: none;
  border-color: #007bff;
  box-shadow: 0 0 4px rgba(0, 123, 255, 0.5);
}

.ticket-form-container select {
  width: 411px;
  height: 50px;
  padding: 12px;
  font-size: 14px;
  background: #eef8ff;
  border-radius: 15px;
  color: #9cb2c2;
  box-shadow: none;
}

.ticket-form-container input[type="date"],
input[type="time"] {
  width: 40%;
  padding: 12px;
  border-radius: 15px;
  border: none;
}

.submit {
  width: 411px;
  height: 50px;
  font-size: 16px;
  font-weight: bold;
  color: #0f4f8d;
  font-size: 26px;
  line-height: 150%;
  background-color: #ffc700;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.submit:active {
  background-color: #fcb400;
  transform: scale(0.95);
}
