.ticket-form-container {
    width: 400px;
    margin: 0 auto;
    padding: 20px;
    background-color: #0F4F8D;
    color: #fff;
    border: none;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
  

  .ticket-form-container h1 {
    font-size: 24px;
    text-align: center;
    margin-bottom: 20px;
  }
  
  .ticket-form {
    display: flex;
    flex-direction: column;
  }

  .form-group-time {
    display: flex;
    justify-content: space-around;
  }
  
  .form-group {
    margin-bottom: 15px;
  }
  
  .ticket-form-container label {
    font-size: 14px;
    font-weight: bold;
  }
  
  .ticket-form-container select {
    width: 100%;
    padding: 8px;
    font-size: 14px;
    border: 1px solid #ddd;
    border-radius: 5px;
    box-shadow: none;
  }

  .ticket-form-container input[type='date'],
  input[type='time'] {
    width: 40%;
    padding: 8px;
  }

  
  .submit {
    padding: 10px 20px;
    font-size: 16px;
    font-weight: bold;
    color: #fff;
    background-color: #4285f4;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  button[type='submit']:hover {
    background-color: #3367d6;
  }
  
  