.container {
  display: flex;
  justify-content: space-between;
  padding: 0 80px 0 0;
}

.bankImg {
  width: 65%;
  height: 100%;
  object-fit: cover;
}

.cont {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 50px 0 39px 0;
}


.ticket-form-container {
  width: 411px;
  background-color: transparent;
  color: #fff;
  border: none;
  border-radius: 5px;
}

.ticket-form-container h1 {
  font-size: 24px;
  text-align: center;
  margin-bottom: 20px;
}

.form-group-time {
  display: flex;
  justify-content: space-between;
}

.form-group {
  margin-bottom: 15px;
}

.ticket-form-container label {
  font-size: 14px;
  font-weight: bold;
}

select,
input[type="date"],
input[type="time"]:focus {
  outline: none;
  border-color: #007bff;
  box-shadow: 0 0 4px rgba(0, 123, 255, 0.5);
}

.ticket-form-container select {
  width: 411px;
  height: 50px;
  padding: 12px;
  font-size: 14px;
  background: #eef8ff;
  border-radius: 15px;
  color: #9cb2c2;
  box-shadow: none;
}

.ticket-form-container input[type="date"],
input[type="time"] {
  width: 40%;
  padding: 12px;
  border-radius: 15px;
  border: none;
  color: #9CB2C2;
  padding-left: 29px;
}

.button_create {
  width: 411px;
  height: 59px;
  font-size: 16px;
  color: #0f4f8d;
  font-size: 26px;
  line-height: 150%;
  background-color: #ffc700;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.3s ease;
  margin-top: 19px;
}

.button_create:hover {
  background-color: #ffcd29;
}

.submit:active {
  background-color: #fcb400;
  transform: scale(0.95);
}