.container {
  width: 100%;
  height: 120vh;
  height: auto;
  display: flex;
  justify-content: space-between;
}

.bankImg {
  width: 55%;
}

.info_table {
  width: 40%;
  display: flex;
  flex-direction: column;
  color: white;
  margin-top: 60px;
}
.name_box {
  position: relative;
  display: flex;
  height: auto;
  margin: 42px 0;
}
.avatar {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  margin-right: 42px;
}
.name {
  width: 30px;
  font-style: 24px;
  font-weight: 500;
  line-height: 135%;
}
.name_box .pen {
  position: absolute;
  bottom: 13px;
  right: 80px;
}
.container input {
  content: url(../../components/images/pen.svg);
  width: 90%;
  height: 50px;
  list-style: none;
  margin-bottom: 21px;
  padding: 10px 20px;
  border-radius: 15px;
  border: none;
  color: #0f4f8d;
  transition: 0.5s;
}

.container input::-webkit-inner-spin-button {
  -webkit-appearance: none;
}

.container input:last-of-type {
  margin-bottom: 30px;
}

.ticket_box {
  display: flex;
  flex-direction: column;
}
.ticket_box h3 {
  font-size: 22px;
  margin-bottom: 17px;
}

.ticket {
  cursor: pointer;
  width: 90%;
  height: 70px;
  border-radius: 15px;
  background-color: #ffcd29;
  margin-bottom: 26px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  transition: 0.5s;
  color: #0f4f8d;
  padding: 3px;
}

.ticket img {
  margin: 0 20px;
}

.address {
  display: flex;
  flex-direction: column;
  margin-right: 29px;
}

.data {
  display: flex;
  flex-direction: column;
}

.titleCity {
  font-size: 18px;
  line-height: 150%;
}

.department {
  font-size: 10px;
  line-height: 150%;
}

.ticket:hover {
  scale: 1.1;
}

.ticket:active {
  scale: 0.9;
}

.history_box {
  display: flex;
  align-items: center;
}

.history {
  color: white;
}
.history_box img {
  width: 10px;
  height: 15px;
  margin-left: 10px;
}

.change_button {
  width: 90%;
  height: 50px;
  background-color: #ffcd29;
  border-radius: 15px;
  border: none;
}

.btn_editpassword {
  width: 90%;
  height: 50px;
  border-radius: 15px;
  border: none;
}
