.container {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: space-between;
}

.img_box {
    width: 55%;
}

.img_box img {
    width: 100%;
    height: 55vw;
}

.info_table {
    width: 40%;
    display: flex;
    flex-direction: column;
    color: white;
    margin-top: 100px;
    margin-right: 80px;
}
.name_box {
    position: relative;
    display: flex;
    height: auto;
    margin: 42px 0;
}
.avatar {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    margin-right: 42px;
}
.name {
    width: 30px;
    font-style: 24px;
    font-weight: 500;
    line-height: 135%;
}
.name_box .pen {
    position: absolute;
    bottom: 13px;
    right: 80px;
}
.container input {
    content: url(../../components/images/pen.svg);
    width: 90%;
    height: 50px;
    list-style: none;
    margin-bottom: 21px;
    padding: 10px 20px;
    border-radius: 15px;
    border: none;
    color: #0F4F8D;
    transition: 0.5s;
}

.container input::-webkit-inner-spin-button {
    -webkit-appearance: none;
}

.container input:last-of-type {
    margin-bottom: 30px;
}

.ticket_box {
    display: flex;
    flex-direction: column;
}
.ticket_box h3 {
    font-size: 22px;
    margin-bottom: 17px;
}

.ticket {
    cursor: pointer;
    width: 90%;
    height: 70px;
    border-radius: 15px;
    background-color: #FFCD29;
    margin-bottom: 26px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    transition: 0.5s;
    color: #0F4F8D;
}

.ticket img {
    margin: 0 20px;
}

.adress {
    display: flex;
    flex-direction: column;
    margin-right: 29px;
}

.data {
    display: flex;
    flex-direction: column;
}

.ticket:hover {
    scale: 1.1;
}

.ticket:active {
    scale: 0.9;
}

.history_box {
 display: flex;
 align-items: center;
}

.history {
    color: white;
}
.history_box img {
    width: 10px;
    height: 15px;
    margin-left: 10px;
}




