.container {
    width: 15%;
    height: 45vw;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    background-color: #ffff;
    border-right: 1px solid grey;
  }
  
  .info_table {
    display: flex;
    margin: 20px 0px 20px 20px;
  }
  
  .avatar {
    width: 36px;
    height: 36px;
    margin-right: 15px;
  }
  
  .name_box {
    margin-bottom: 24px;
  }
  
  .name {
    font-size: 16px;
    font-family: Roboto;
    line-height: 160.023%;
  }
  
  .role {
    font-size: 14px;
    color: #6D7885;
  }
  
  .list {
    display: flex;
    flex-direction: column;
    margin: 20px 0px 20px 20px;
  }
  
  .list a {
    color: black;
    font-size: 16px;
    font-family: Roboto;
    text-decoration: none;
    margin-bottom: 16px;
  }
  
  .list a img {
    margin-right: 5px;
  }
  