.header_wrapper {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 30px 80px;
}

.username_box {
  display: flex;
}

.avatar {
  width: 35px;
  height: 36px;
  margin-right: 10px;
  cursor: pointer;
}

.logout_btn {
  background-color: transparent;
  border: 1px solid white;
  color: #ffffff;
  width: 60px;
  height: 30px;
}

.logout_btn a {
  text-decoration: none;
  color: white;
}

.user_name {
  color: #ffffff;
}

.logo {
  width: 169px;
  height: 30px;
}

.links_container {
  display: flex;
  justify-content: space-between;
  width: 50%;
}

.link {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 26px;
  color: #e6edff;
  text-decoration: none;
}

.link:focus {
  font-weight: 800;
}

.lang_btn {
  width: 50px;
  height: 25px;
  border: 1px solid #ffffff;
  border-radius: 3px;
  font-size: 15px;
  color: #ffffff;
  background: transparent;
}

.modal_container {
  height: 150px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding-left: 20px;
}

.modal_link {
  background-image: url(../../components//images//white-arrow.svg);
  background-repeat: no-repeat;
  background-position-x: right;
  background-position-y: center;
  padding-right: 15px;
  text-decoration: none;
  color: #ffffff;
  font-size: 22px;
}

.modal_buttons {
  position: absolute;
  top: 0;
  right: 40px;
  width: 50px;
  display: flex;
  flex-direction: column;
}

.modal_btn {
  font-size: 30px;
  cursor: pointer;
  margin-top: 20px;
  margin-bottom: 40px;
  background-color: transparent;
  border: none;
  color: white;
  text-align: end;
}

.modal {
  position: absolute;
  margin-top: 100px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #0f4f8d;
  color: #ffffff;
  border-radius: 5px;
  width: 350px;
  animation: slideIn 0.5s ease-out forwards;
}
@keyframes slideIn {
  0% {
    top: -100%;
  }
  100% {
    top: 10%;
  }
}

.overlay {
  background-color: rgba(0, 0, 0, 0.5);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  animation: fadeIn 0.5s ease-out forwards;
  /* overflow: auto; */
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@media (max-width: 1140px) {
  .header_wrapper {
    padding-bottom: 0;
    flex-wrap: wrap;
  }

  .links_container {
    margin-left: 0;
    width: auto;
    flex-wrap: wrap;
    gap: 20px;
  }
}
@media (max-width: 768px) {
  .header_wrapper {
    flex-direction: column;
    align-items: flex-start;
    padding: 20px;
    padding-bottom: 0;
    height: auto;
  }
  .link {
    margin-top: 5px;
    font-size: 4vw;
  }
  .lang_btn {
    position: absolute;
    right: 24px;
    top: 24px;
  }
  .avatar {
    width: 34px;
    height: 34px;
    object-fit: cover;
    position: absolute;
    right: 84px;
    top: 24px;
  }
}
