.icons {
  display: flex;
  justify-content: center;
}

.img {
  width: 132px;
  height: 42px;
  object-fit: cover;
  margin: 10px;
}

.img:hover {
  transition: transform 0.5s;
  transform: scale(1.05);
  cursor: pointer;
}
