.icons {
    display: flex;
    justify-content: space-between;
}


.img {
    width: 132px;
    height: 42px;
    object-fit: cover;
}



.img:hover {
    transition: transform 0.5s;
    transform: scale(1.05);
    cursor: pointer;
}