/* .icons {
    margin-top: 100px;
    position: absolute;
    bottom: 20px;
    right: 50px;
} */

.container {
    display: flex;
   
}


.yellow {
    font-size: 16px;
    line-height: 23px;
    color: #FFD200;
}

.white {
    font-size: 12px;
    line-height: 17px;
    color: #FFFFFF;
    margin-bottom: 25px;
}

.secondBlock {
    border-left: 3px solid #3575B6;
    padding-left: 20px;
    margin-left: 74px;
}

.yellow2 {
    font-size: 13px;
    line-height: 20px;
    color: #FFD633;
}

.white2 {
    font-size: 12px;
    line-height: 17px;
    color: #FFFFFF;
    margin-bottom: 8px;
}

.white2:last-child {
    margin-bottom: 0;
}


.thirdBlock{
    display: flex;
    flex-direction: column;
    align-items: end;
    width: 128px;
}

.blue {
    font-size: 12px;
    line-height: 17px;
    text-align: right;
    color: #00AEFF;
    margin-bottom: 24px;
}

.blue2 {
    font-size: 12px;
    line-height: 17px;
    text-align: center;
    color: #00AEFF;
    margin-top: 8px;
}