.contain_signup {
  display: flex;
  justify-content: space-between;
  padding: 0 80px 0 0;
}

.bankImg {
  width: 65%;
  height: 100%;
  object-fit: cover;
}

.formContainer {
  border-radius: 8px;
  margin-top: 50px;
  padding-bottom: 39px;
}

.inputGroup {
  width: 100%;
  margin-bottom: 16px;
}

.inputGroup input {
  padding-left: 28px;
  border: none;
  background: #eef8ff;
  border-radius: 15px;
  color: rgb(63, 118, 177);
  width: 393px;
  height: 50px;
  margin-bottom: 10px;
}

.inputGroup input:focus {
  outline: none;
  border-color: #007bff;
  box-shadow: 0 0 4px rgba(0, 123, 255, 0.5);
}

.signupButton {
  text-align: center;
  width: 393px;
  height: 59px;
  background: #ffcd29;
  border-radius: 15px;
  color: #fff;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s ease;
  color: #0f4f8d;
  font-size: 26px;
  margin-top: 31px;
  transition: background-color 0.3s ease, transform 0.3s ease;
}

.signupButton:hover {
  background-color: #ffc700;
}

.signupButton:active {
  background-color: #fcb400;
  transform: scale(0.95);
}

.error {
  color: red;
  background: #eaecf1;
  border-radius: 5px;
  width: 200px;
  height: 20.72px;
  font-size: 10px;
  padding: 3px;
}

.checkbox {
  width: 21px;
  height: 21px;
}

.forgot-title {
  color: #eef8ff;
  line-height: 150%;
  margin-left: 26px;
  margin-top: -25px;
}

.market {
  margin-top: 55px;
}

.registrationMessage {
  margin-top: 300px;
  padding: 5px;
  height: 80px;
  text-align: center;
  background: #eef8ff;
  color: rgb(28, 129, 78);
  border-radius: 5px;
}

@media only screen and (max-width: 1168px) {
  .bankImg {
    width: 60%;
    height: 100%;
    object-fit: cover;
  }
}
@media only screen and (max-width: 1052px) {
  .contain_signup {
    height: auto;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding: 5px;
  }

  .registrationMessage {
    margin-top: 0;
    padding: 5px;
    height: 50px;
    text-align: center;
    background: #eef8ff;
    color: rgb(28, 129, 78);
    border-radius: 5px;
  }
  
  .bankImg {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  
  .formContainer {
    width: 80%;
    border-radius: 8px;
    padding-left: 110px;
    padding-right: 110px;
  }
  .inputGroup input {
    width: 100%;
  }

  .signupButton {
    width: 100%;
    
  }
}

@media only screen and (max-width: 768px) {
  .bankImg {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  .formContainer {
    width: 80%;
    border-radius: 8px;
    padding-left: 60px;
    padding-right: 60px;
  }

  .registrationMessage {
    margin-top: 0;
    padding: 5px;
    height: 50px;
    text-align: center;
    background: #eef8ff;
    color: rgb(28, 129, 78);
    border-radius: 5px;
  }

  .inputGroup input {
    width: 100%;
  }

  .signupButton {
    width: 100%;
    font-size: 20px;
  }
}
@media only screen and (max-width: 768px) {
  .bankImg {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  .formContainer {
    width: 100%;
    border-radius: 8px;
    margin-top: 0;
  }
  .registrationMessage {
    margin-top: 0;
    padding: 5px;
    height: 50px;
    text-align: center;
    background:transparent;
    color: white;
    border-radius: 5px;
  }
  .inputGroup input {
    padding-left: 28px;
    border: none;
    background: #eef8ff;
    border-radius: 15px;
    color: rgb(63, 118, 177);
    width: 100%;
    height: 43px;
    margin-bottom: 0px;
  }
  .signupButton {
    width: 100%;
    height: 43px;
    font-size: 20px;
  }
  .error {
    color: red;
    background: #eaecf1;
    border-radius: 5px;
    width: 200px;
    height: 20.72px;
    font-size: 8px;
    padding: 3px;
  }
  
  
}

@media screen and (-webkit-min-device-pixel-ratio: 0) {
  select:focus, textarea:focus, input:focus {
          font-size: 16px;
      }
  }

