@import url('https://fonts.googleapis.com/css2?family=Pacifico&family=Roboto:wght@400;500;700&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Roboto';
  font-style: normal;
}

body {
  background: radial-gradient(50% 50% at 50% 50%, #0092FC 0%, #0F4F8D 100%);
  width: 100%;
  height: 100%;
}



.login {
  position: absolute;
  right: 80px;
  top: 171px;
}
