@import url('https://fonts.googleapis.com/css2?family=Pacifico&family=Roboto:wght@400;500;700&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Roboto';
  font-style: normal;
}

body {
  background: radial-gradient(50% 50% at 50% 50%, #0092FC 0%, #0F4F8D 100%);
  width: 100%;
  height: 100%;
}

<<<<<<< HEAD:src/App.css


.login {
  position: absolute;
  right: 80px;
  top: 171px;
}
=======
.bank_img {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  height: 100vh;
  /* background-image: url(./components//images//Баннер.png); */
  background-repeat: no-repeat;
  background-size: contain;
  object-fit: contain;
  position: relative;
}
>>>>>>> 102c1e29897bd9c097461732a5db46444e1fb770:RSK-project-main/src/App.css
