.contain_forgotPassword {
    display: flex;
    justify-content: space-between;
    padding: 0 80px 50px 0;
  }
  
  .bankImg {
    width: 65%;
    height: 100%;
    object-fit: contain;
  }

  .answer {
    width: 300px;
    height: 100px;
    background: #eef8ff;
    color: rgb(28, 129, 78);
    text-align: center;
    border-radius: 15px;
    margin-top: 230px;
    padding: 10px;
    font-style: italic;
  }
  
  .form h4 {
    margin-top: 40px;
    font-size: 26px;
    line-height: 150%;
    color: #cedbe4;
  }
  
  .form div {
    margin-top: 34px;
    font-size: 14px;
    color: #cedbe4;
  }

 .box {
    display: flex;
    flex-direction: column;
 }

 .market {
    margin-top: 312px;
 }
  
  .email {
    width: 100%;
    max-width: 411px;
    height: 50px;
    background: #eef8ff;
    border-radius: 15px;
    border: none;
    font-size: 22px;
    line-height: 150%;
    padding-left: 28px;
    margin-top: 13px;
  }
  
  div input:focus {
    outline: none;
    border-color: #007bff;
    box-shadow: 0 0 4px rgba(0, 123, 255, 0.5);
  }
  
  .button {
    width: 100%;
    max-width: 196px;
    height: 41px;
    background: #ffcd29;
    border-radius: 15px;
    color: #0f4f8d;
    border: none;
    margin-top: 25px;
    margin-left: auto;
    margin-right: auto;
    transition: background-color 0.3s ease, transform 0.3s ease;
  }

  .button:hover {
    background-color: #ffc700;
  }
  
  .button:active {
    background-color: #fcb400;
    transform: scale(0.95);
  }

  @media (max-width: 913px) {
    .contain_forgotPassword {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        width: 100%;
        min-height: 100vh;
        padding: 10px;
        padding-top: 0;
      }

      .market {
        margin-top: 112px;
     }
      
      .bankImg {
        width: 100%;
        height: auto;
        object-fit: contain;
        max-height: 100%;
      }
      
      .form h4 {
        margin-top: 0;
        font-size: 26px;
        line-height: 150%;
        color: #cedbe4;
      }
      
      .form div {
        margin-top: 20px;
        font-size: 14px;
        color: #cedbe4;
      }
      .answer {
        width: 100%;
        height: auto;
        background: #eef8ff;
        font-style: normal;
        color: rgb(28, 129, 78);
        text-align: center;
        border-radius: 15px;
        margin-top: 0;
        padding: 10px;
      }
  }
  
  @media (max-width: 767px) {
    .form h4 {
      margin-top: 0;
      font-size: 20px;
    }
  
    .email {
      width: 100%;
      max-width: 100%;
    }
  
    .button {
      width: 100%;
      max-width: 100%;
      margin-left: auto;
      margin-right: auto;
    }
  }
  
  @media (max-width: 575px) {
    .form h4 {
      margin-top: 0;
      font-size: 18px;
    }
  
    .email {
      width: 100%;
      max-width: 100%;
    }
  
    .button {
      width: 100%;
      max-width: 100%;
      margin-left: auto;
      margin-right: auto;
    }
  }
  